.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.averia-libre-light {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: normal;
}

.averia-libre-regular {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}

.averia-libre-bold {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: normal;
}

.averia-libre-light-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: italic;
}

.averia-libre-regular-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: italic;
}

.averia-libre-bold-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  html {
    color: #222;
    line-height: 1.5;
    font-size: 16pt;
    background-color: #B3D9E0;
    font-family: helvetica, arial, sans-serif;
  }
  
  nav {
    display: flex;
    font-family: "Averia Libre", system-ui;
    font-size: 5vw;;
    font-weight: 700;
    font-style: normal;
    justify-content: space-around;
    background-color: #285260;
  }

  a {
    color: 	#fdeab7;
    background-color: #285260;
    text-decoration: none;
    border-radius: 10%;
    padding: 1vw;
}
  
  h1 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #f9bc60;
  }
  
  h2 {
    font-family: "Averia Libre", system-ui;
    font-weight:700;
    font-style: italic;
  }
  
  p {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .Hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(https://i.pinimg.com/736x/a2/ed/74/a2ed745fbfee5369ad6153c21685ea81.jpg);
    background-size: cover;
    position: center;
    width: 100vw;
    height: 70vh;
  --mask:
    radial-gradient(56.36px at 50% calc(100% - 78.4px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
    radial-gradient(56.36px at 50% calc(100% + 46.4px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .HeroText {
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .who {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline wavy;
    text-underline-position: under;
    text-underline-offset: 8px;
    color: 
  }

  .invitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }
  
  .when {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem;
  }
  
  .rsvp {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    border: 5px solid #f9bc60;
    background-color: #F6F9FA;
    color: #285260;;
    padding: 0 7vw;
    border-radius: 10px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  .daniel {
    width: 100vw;
    --mask:
    radial-gradient(56.36px at 50% calc(100% - 78.4px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
    radial-gradient(56.36px at 50% calc(100% + 46.4px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  h4{
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #285260;
    text-decoration: underline wavy;
    text-underline-position: under;
    margin-bottom: 2vw;
  }

  .gifts {
    margin: 2rem;
    border: 10px solid #f9bc60;;
    border-radius: 10%;
    padding: 5vw;
    background-color: #F6F9FA;
  }

  ul li {
    list-style-type: circle;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-size: 1.5rem
    font-style: normal;
    list-style-position: inside;
  }

  .Hero2 {
    background-image: url(https://i.pinimg.com/736x/67/79/ab/6779ab906bb4bfe060e5fe60342aea51.jpg);
    background-size: cover;
    position: center;
    width: 100vw;
    height: 70vh;
  --mask:
    radial-gradient(56.36px at 50% calc(100% - 78.4px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
    radial-gradient(56.36px at 50% calc(100% + 46.4px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .HeroText2 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    background-color:#F6F9FA;
    border: 10px solid #f9bc60;
    border-radius: 12px;
    width: 70%;
    margin: 1rem auto;
    overflow: hidden;
  }

  .top {
    width: 100%;
    height: auto;
    overflow: hidden;

  }

  .picture {
    width: 60vw;
    height: 60vw;
    display: block;
    border-radius: 50%;
    margin: 10px auto;
    border: 5px solid #285260;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activity {
    text-align: center;
    font-size: 2rem; 
    margin: 2vw;
  }

  .time {
    font-size: 1.5rem;
    font-weight: 700;
    color: #285260;
    text-decoration: underline wavy;
    text-underline-position: under;
  }
}
