.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.averia-libre-light {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: normal;
}

.averia-libre-regular {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}

.averia-libre-bold {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: normal;
}

.averia-libre-light-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: italic;
}

.averia-libre-regular-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: italic;
}

.averia-libre-bold-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  html {
    color: #222;
    line-height: 1.5;
    font-size: 16pt;
    background-color: #E9E4D7;
    font-family: helvetica, arial, sans-serif;
  }
  
  nav {
    display: flex;
    font-family: "Averia Libre", system-ui;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    justify-content: space-around;
    background-color: #285260;
  }

  a {
    color: #66d0e7;
    background-color: #285260;
    text-decoration: none;
    border-radius: 10%;
    padding: 1vw;
}
  
  h1 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  h2 {
    font-family: "Averia Libre", system-ui;
    font-weight:700;
    font-style: italic;
  }
  
  p {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .Hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),url(https://i.pinimg.com/736x/a2/ed/74/a2ed745fbfee5369ad6153c21685ea81.jpg);
    background-size: cover;
    position: center;
    width: 100vw;
    height: 70vh;
  --mask:
    radial-gradient(56.36px at 50% calc(100% - 78.4px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
    radial-gradient(56.36px at 50% calc(100% + 46.4px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .HeroText {
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .invitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vw;
  }
  
  .when {
    display: flex;
    font-size: 1.5rem;
  }
  
  .rsvp {
    font-family: "Averia Libre", system-ui;
    font-weight:700;
    font-style: normal;
    text-align: center;
    border: 5px solid #BB7E5D;
    background-color: #F6F9FA;
    color: #BB7E5D;
    padding: 0 7vw;
    border-radius: 10px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  .daniel {
    width: 100vw;
    --mask:
    radial-gradient(56.36px at 50% calc(100% - 78.4px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
    radial-gradient(56.36px at 50% calc(100% + 46.4px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .gifts {
    margin: 2rem;
    border: 5px solid #BB7E5D;
    border-radius: 10%;
    padding: 6vw;
    background-color: #F6F9FA;
  }

  ul li {
    list-style-type: circle;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-position: inside;
  }
}
